.game-header {
  background-color: rgb(38, 38, 38);
  background-size: cover;

  
  padding: 34px 18px;     
  height: 42px;          

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 2px solid #0088ff;
  font-family: "Montserrat", sans-serif;
}

.logo {
  color: #0088ff;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3px;
}

nav a {
  color: #fff;
  margin-left: 22px;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  height: 3px;
  background: #0088ff;
  transition: width .3s;
}

nav a:hover::after {
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  

}
.navBarTitle {
      color: #0088ff;
      font-family: fantasy;

}
